{% extends 'MyMobileProvidersBundle::base.html.twig' %}
{% block head %}
    {{  parent() }}
    <meta property="fb:app_id" content="153411024681332" />
{% endblock %}
{% block body %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=153411024681332";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <table><tr>
        <td>{{ form(form) }}</td>
            {% if minTariff %}
                <td>
                    <table>
                        <tr>
                            <td>Lowest cost</td>
                            <td>{{ minTariff.totalCost }}</td>
                        </tr>
                        <tr>
                            <td>Tariff</td>
                            <td>{{ minTariff.tariff }}</td>
                        </tr>
                        <tr>
                            <td>Provider</td>
                            <td>{{ minTariff.provider }} (hardware: {{ minTariff.hardwareProvider }})</td>
                        </tr>
                    </table>
                </td>
            {% endif %}
    </tr></table>
    {% if grid %}{{ grid(grid, 'APYDataGridBundle::blocks_js.jquery.html.twig') }}{% endif %}
    <div class="fb-comments" data-href="http://ralfeus.info" data-numposts="5" data-colorscheme="light"></div>
{% endblock %}