{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/mymobileproviders/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <table><tr>
        <td>{{ form(form) }}</td>
            {% if minTariff %}
                <td>
                    <table>
                        <tr>
                            <td>Lowest cost</td>
                            <td>{{ minTariff.totalCost }}</td>
                        </tr>
                        <tr>
                            <td>Tariff</td>
                            <td>{{ minTariff.tariff }}</td>
                        </tr>
                        <tr>
                            <td>Provider</td>
                            <td>{{ minTariff.provider }} (hardware: {{ minTariff.hardwareProvider }})</td>
                        </tr>
                    </table>
                </td>
            {% endif %}
    </tr></table>
    {% if grid %}{{ grid(grid) }}{% endif %}
{% endblock %}